# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cmc\SKT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
